/* Project styles */
section#projects {
    padding: 2rem 0;
  }
  
  section#projects h2 {
    padding-bottom: 25px;
  }
  
  section#projects div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .project-card {
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .project-image {
    width: 100%;
    max-height: 300px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: -10px;
  }
  
  .project-details {
    margin-top: 0rem; /* Adjust the margin-top value to increase or decrease spacing */
  }
  
  .project-details h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0rem; /* Increase or decrease margin-bottom as desired */
  }
  
  .project-details p {
    color: #555;
    margin: 0;
  }
  
  .project-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem; /* Adjust the margin-top value to increase or decrease spacing */
    margin-bottom: 0.7rem; /* Adjust the margin-bottom value to increase or decrease spacing */
  }
  
  .project-links a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .project-links a:hover {
    background-color: #222;
  }
  
  
  