/* Global Variables */
:root {
  --color-primary: #004BA8;  /* Deep blue for a professional look */
  --color-secondary: #373737; /* Grey for secondary text */
  --color-light: #EEEEEE; /* Light grey for backgrounds */
  --color-white: #FFFFFF;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --spacing-xs: 10px;
  --spacing-sm: 14px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --transition-fast: 0.2s ease-in-out;
}

/* Base Styles */
section#experience {
  font-family: var(--font-primary);
  background-color: var(--color-light);
  padding-top: 2rem;
  padding-bottom: 3rem;
  color: var(--color-secondary);
}

/* Timeline styles */
.timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 2rem;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform var(--transition-fast);
  padding: 1rem;
  width: 100px; /* fixed width for better control */
  height: 100px; /* fixed height for better control */
  margin: 0 var(--spacing-sm); /* Add horizontal margin between items */
}

.timeline-item.active {
  transform: translateY(-5px);
  font-weight: bold;
}

.timeline-image {
  width: 85px; /* Fixed width */
  height: 85px; /* Fixed height, making it a square */
  object-fit: cover; /* Ensures the image covers the area without losing its aspect ratio */
  padding: 2px;
  border: 1px solid white;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px var(--color-shadow);
  transition: all var(--transition-fast);
}

.timeline-item:hover .timeline-image {
  transform: scale(1.1);
}

.year-text {
  margin-top: var(--spacing-xs);
  color: var(--color-secondary);
  font-size: 16px;
}

/* Details card */
.experience-card {
  display: none; /* Only show when active */
  background-color: var(--color-white);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 6px 12px var(--color-shadow);
  margin: var(--spacing-md) auto;
  max-width: 55%;
  text-align: center;
}

.experience-card.active {
  display: block;
}

.experience-card h3 a {
  color: var(--color-primary);
  text-decoration: none;
}

.experience-card h3 a:hover {
  text-decoration: underline;
}

.experience-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--spacing-sm);
  padding: 1rem;
}

.experience-title, .experience-date {
  margin: 0.5rem;
}

/* List styles */
.experience-card ul {
  list-style: none;
  padding: 0;
  margin-top: var(--spacing-sm);
}

.experience-card li {
  padding-bottom: var(--spacing-xs);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .timeline {
    justify-content: space-around;
  }

  .timeline-item {
    width: 100px; /* smaller size for mobile */
  }

  .experience-card {
    max-width: 90%;
    padding: var(--spacing-sm);
  }
}
