/* Skills styles */
section#skills {
  text-align: center;
  padding: 2rem 2rem 4rem; /* Top, Horizontal, Bottom */
}
  
  section#skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-top: 15px;
  
  }
  
  section#skills li {
    display: flex;
    align-items: center;
    justify-content: center; /* Center items horizontally */
    background-color: #ffffffca;
    font-size: 1.05rem;
    padding: 1.5rem;
    color: #555;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-left: 0;
    flex-basis: calc(25% - 20px); /* Adjusted for gap */
  }
  
  section#skills li:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  section#skills li img {
    width: 40px;
    height: 40px;
    margin-right: 1.4rem;
  }
  